body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.categoria {
    display: inline-block;
    margin: 10px;
}

.categoria img {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.categoria {
    display: inline-block;
    margin: 10px;
}

.categoria img {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
}